altgraph==0.17.4
certifi==2025.1.31
charset-normalizer==3.4.1
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
lxml==5.3.1
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
python-dateutil==2.9.0.post0
pytrends==4.9.2
pytz==2025.1
pywin32-ctypes==0.2.3
requests==2.32.3
six==1.17.0
tzdata==2025.2
urllib3==2.3.0
